<div id="div1">
  <h1>Techcamp HTTP Test</h1>

  <!-- Obtener información con GET -->
  <div class="div-c">
    <h3>Obtener Datos</h3>
    <form>
      <button (click)="getDatos()">Obtener Datos</button>
    </form>
  </div>

  <!-- Obtener información con GET por ID -->
  <div class="div-c">
    <h3>Obtener Datos por ID</h3>
    <form>
      <input placeholder="ID" [(ngModel)]="nuevoDatoGetById.id" name="id" />
      <br />
      <button (click)="getDatoPorId()">Obtener Datos por ID</button>
    </form>
  </div>

  <!-- Agregar dato -->
  <div class="div-c">
    <h3>Agregar Dato</h3>
    <form>
      <input
        placeholder="Nombre"
        [(ngModel)]="nuevoDatoPost.nombre"
        name="nombre"
      /><br />
      <input
        placeholder="Edad"
        [(ngModel)]="nuevoDatoPost.edad"
        name="edad"
      /><br />
      <button (click)="agregarDato()">Agregar Dato</button>
    </form>
  </div>

  <!-- Actualizar dato -->
  <div class="div-c">
    <h3>Actualizar Dato</h3>
    <form>
      <input placeholder="ID" [(ngModel)]="nuevoDatoPut.id" name="id" /><br />
      <input
        placeholder="Nombre"
        [(ngModel)]="nuevoDatoPut.nombre"
        name="nombre"
      /><br />
      <input
        placeholder="Apellido"
        [(ngModel)]="nuevoDatoPut.edad"
        name="edad"
      /><br />
      <button (click)="actualizarDato()">Actualizar Dato</button>
    </form>
  </div>

  <!-- Eliminar dato -->
  <div class="div-c">
    <h3>Eliminar Dato</h3>
    <form>
      <input
        placeholder="ID"
        [(ngModel)]="nuevoDatoDelete.id"
        name="id"
      /><br />
      <button (click)="eliminarDato()">Eliminar Dato</button>
    </form>
  </div>
</div>
